# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.*
*.env
!.env.example

# Production builds
dist/
build/
**/dist/

# Logs
*.log
npm-debug.log*

# Uploads & temporary files
uploads/
**/uploads/*
!**/uploads/.gitkeep
.DS_Store
*.tmp
scratch/

# Editor directories
.vscode/
.idea/

