PORT=3000
DATABASE_URL="postgresql://helpdesk_user:SecretPassword123!@localhost:5433/wa_helpdesk?schema=public"

# Keamanan JWT (Ganti dengan string rahasia 32+ karakter acak)
JWT_SECRET="GantiDenganKunciRahasiaJWTYangKuatDanUnik123!"

# Kunci Enkripsi Sesi HTS AES-256 (String rahasia 32+ karakter acak)
SESSION_ENCRYPTION_KEY="GantiDenganKunciEnkripsiSesiHTSYangKuatDanUnik123!"

# Evolution API
EVOLUTION_API_URL="http://localhost:8080"
EVOLUTION_API_TOKEN="SecureTokenUntukBackend123"
EVOLUTION_INSTANCE_NAME="helpdesk-wa"
WEBHOOK_SECRET="SecureTokenUntukBackend123"

# Frontend Origin untuk CORS
# Frontend Origin untuk CORS (Bisa multi-origin dipisah koma, misal: http://localhost:5200,http://103.xxx.xxx.xxx:5200)
FRONTEND_URL="http://localhost:5200"
