PORT=3000
DATABASE_URL="postgresql://helpdesk_user:SecretPassword123!@localhost:5433/wa_helpdesk?schema=public"

# Keamanan JWT (Ganti dengan string rahasia 32+ karakter acak)
JWT_SECRET="GantiDenganKunciRahasiaJWTYangKuatDanUnik123!"

# Evolution API
EVOLUTION_API_URL="http://localhost:8080"
EVOLUTION_API_TOKEN="SecureTokenUntukBackend123"
EVOLUTION_INSTANCE_NAME="helpdesk-wa"
WEBHOOK_SECRET="SecureTokenUntukBackend123"

# Frontend Origin untuk CORS
FRONTEND_URL="http://localhost:5173"
